{% extends 'base.html' %}
{% block content %}
<h1>Share Store</h1>

<h5>NPM: </h5>
<p>{{ npm }}<p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

{% if not prod_entries %}
<p>Belum ada data product pada share store.</p>
{% else %}
<table>
  <tr>
    <th>Product Name</th>
    <th>Time</th>
    <th>Deskripsi</th>
    <th>Stok</th>
    <th>Harga</th>

  </tr>

  {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini 
  {% endcomment %} 
  {% for product in prod_entries %}
  <tr>
    <td>{{product.nama}}</td>
    <td>{{product.time}}</td>
    <td>{{product.deskripsi}}</td>
    <td>{{product.stok}}</td>
    <td>{{product.harga}}</td>

  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product' %}">
  <button>Add New Product</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
  <h5>Sesi terakhir login: {{ last_login }}</h5>
</a>

{% endblock content %}